<div class="w-full relative">
  <img src="/public/logo-home.svg"
  alt="Esland - Premios a la comunidad hispanohablante de Streaming"
  class="absolute top-10 z-10 w-[800px] left-0 right-0 m-auto">
  <video class="w-full h-screen object-cover object-top animate-easy-in-out
    animate-fade animate-duration-1000"
    src="/public/360_LOGO.mp4"
    autoplay
    loop
    muted
    style="clip-path: polygon(0 0, 100% 0, 100% 75%, 50% 100%, 0 76%);">
  </video>
  <video class="absolute -bottom-48 blur-3xl -z-40"src="/public/360_LOGO.mp4" autoplay loop muted></video>
</div>